<ion-tabs>
   <ion-tab-bar slot="bottom">
      <ion-tab-button tab="salesup">
         <ion-icon name="pie-chart-outline"></ion-icon>
         <ion-label>Ind. semanales</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="plansemanal">
         <ion-icon name="calendar-number-outline"></ion-icon>
         <ion-label>Planes</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="mimes">
         <ion-icon name="pie-chart-outline"></ion-icon>
         <ion-label>Ind. mensuales</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="oportunidades">
         <ion-icon name="clipboard-outline"></ion-icon>
         <ion-label>Oportunidades</ion-label>
      </ion-tab-button>
   </ion-tab-bar>
</ion-tabs>
