:root {
	--ion-color-primary: #0157b8 !important;
	--ion-color-primary-rgb: 1,87,184 !important;
	--ion-color-primary-contrast: #ffffff !important;
	--ion-color-primary-contrast-rgb: 255,255,255 !important;
	--ion-color-primary-shade: #014da2 !important;
	--ion-color-primary-tint: #1a68bf !important;
}
