
.logo {
    display: block;
    margin: 0 auto 48px auto;
    width: 50px;
}

.cardLogin{
  width:25%;
}

.toRight{
  text-align: right;
}

.center{
  position: relative;
  top: 40%;
  transform: translateY(-60%);
}

.row1{
    height: 99%;
}

.input{
    --background: var(--ion-color-light);
}

.card{
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;
    background-color: var(--ion-color-light);
}

.form{
    margin-top: 10%;
}
