<ion-header translucent="true">
   <ion-toolbar>
       <ion-buttons slot="start">
           <ion-menu-button></ion-menu-button>
           <ion-back-button></ion-back-button>
       </ion-buttons>
       <ion-title>Dashboard de gastos</ion-title>
   </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
   <iframe width="100%" height="100%" src="https://app.powerbi.com/view?r=eyJrIjoiOTRmMjRjYWEtYzE4My00ZjgxLTlkZDMtOWFkNjcyZjY2YzZjIiwidCI6IjEwMTM2YTk4LWFkOGEtNDEwYS05OGI5LWFhMzc5ZThlMTgxOSIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
</ion-content>