.class-div_spaceList{
    padding: 0px 20px;
}

a.class-item_pointer, ion-item.class-item_pointer {
    cursor: pointer;
}

#box_user{
    border: 1px solid #ddd;
    padding: 15px;
    background: #fff;
    position: relative;
    margin: 0 0 15px;
    color: #273138;
    border-radius: 3px;
    float: left;
    width: 100%;
  }