.aprobado {
    border-left: 2px solid #11c900;
}

.proceso {
    border-left: 2px solid #d8d400;
}

.rechazado {
    border-left: 2px solid #cc0000;
}

.espera {
    border-left: 2px solid #0082be;
}