<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/filosofia"></ion-back-button>
        </ion-buttons>
        <ion-title>Políticas de seguridad</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
        <ion-text color="medium">
            <h3 id="indice">Índice</h3>
        </ion-text>

        <div>
            <ul type="disc">
                <li><a class="customA" href="./tabs/filosofia/politicas#1exp">Exposición de motivos</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#2re">Resumen</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#3int">Introducción</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#4pds">II Políticas de seguridad</a></li>
                <ul type="square">
                    <li><a class="customB" href="./tabs/filosofia/politicas##deleq">II.1 Del equipo</a></li>
                    <ul type="circle">
                        <li><a class="customC" href="./tabs/filosofia/politicas#deleq1">De la instalación de equipo de cómputo y dispositivos móviles</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#deleq2">Del mantenimiento de equipo de cómputo y dispositivos móviles</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#deleq3">Del mantenimiento de equipo de cómputo y dispositivos móviles</a></li>
                        <li id="actequipo"><a class="customC" href="./tabs/filosofia/politicas#deleq4">De la actualización del equipo y dispositivos móviles</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#deleq5">De la reubicación del equipo de cómputo y dispositivos móviles</a></li>
                    </ul>
                    <li><a class="customB" href="./tabs/filosofia/politicas#cracc">II.2 Del control de accesos</a></li>
                    <ul type="circle">
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc1">De la reubicación del equipo de cómputo y dispositivos móviles</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc2">Del control de acceso al equipo de cómputo y dispositivos móviles</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc3">Del control de acceso local a la red</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc4">De control de acceso remoto</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc5">De acceso a los sistemas administrativos </a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#cracc6">Del WWW </a></li>
                    </ul>
                    <li><a class="customB" href="./tabs/filosofia/politicas#urr">II.3 De utilización de los recursos de la red </a></li>
                    <li><a class="customB" href="./tabs/filosofia/politicas#soft">II.4 Del Software</a></li>
                    <ul type="circle">
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft1">Del uso de recursos</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft2">De la adquisición de software</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft3">De la instalación de software</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft4">De la actualización del software</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft5">De la auditoría de software instalado</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft6">Del software propiedad de la institución</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft7">Sobre el uso de software libre</a></li>
                        <li><a class="customC" href="./tabs/filosofia/politicas#soft8">De la propiedad intelectual</a></li>
                    </ul>
                    <li><a class="customB" href="./tabs/filosofia/politicas#suev">II.5 De supervisión y evaluación</a></li>

                </ul>
                <li><a class="customA" href="./tabs/filosofia/politicas#gn">III. Generales</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#sanc">IV. Sanciones</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#ref">Referencias</a></li>
                <li><a class="customA" href="./tabs/filosofia/politicas#glo">Glosario</a></li>
            </ul>
        </div>


        <div id="1exp" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#indice" class="customA"> Exposición de motivos</a>
            <hr>

            <div id="txt_p" class="txt_p">
                <p> Ante el esquema de globalización que las tecnologías de la información han originado principalmente por el uso masivo y universal de la Internet y sus tecnologías, las instituciones se ven inmersas en ambientes agresivos donde el delinquir,
                    sabotear, robar se convierte en retos para delincuentes informáticos universales conocidos como Hackers, Crakers, etc., es decir, en transgresores.</p>

                <p>Conforme las tecnologías se han esparcido, la severidad y frecuencia las han transformado en un continuo riesgo, que obliga a las entidades a crear medidas de emergencia y políticas definitivas para contrarrestar estos ataques y transgresiones.</p>

                <p>Nuestra carencia de recursos humanos involucrados en seguridad, la escasa concientización, la falta de visión y las limitantes económicas obstaculizan el desarrollo de políticas o planes y procedimientos de seguridad que se requiere.</p>

                <p>El objetivo principal de la seguridad de la información es brindar a los usuarios los recursos informáticos con la cantidad y calidad que demandan, esto es, que tengamos continuidad en el servicio los 365 días del año confiable. Así, la
                    cantidad de recursos de cómputo y de telecomunicaciones con que cuentan nuestros centros son de consideración y se requiere que se protejan para garantizar su buen funcionamiento.</p>

                <p>La seguridad de las instituciones en muchos de los países se ha convertido en cuestión de seguridad nacional, por ello contar con un documento de políticas de seguridad es imprescindible, y debe de plasmar mecanismos confiables que con
                    base en la política institucional proteja los activos de la institución. Así pues, ante este panorama surge el siguiente proyecto de políticas rectoras que harán que la Dirección de Telemática pueda disponer de los ejes de proyección
                    que en materia de seguridad la Institución requiere.</p>

            </div>


        </div>

        <div id="2re" class="txt_general_subTitulo_3">
            <a href="./tabs/filosofia/politicas#indice" class="customA"> Resumen</a>

            <hr/>
            <div id="txt_p" class="txt_p">
                <p>El presente es una propuesta de las políticas de seguridad que en materia de seguridad de la información, para Electro Controles del Noroeste, para normar en estos rubros.</p>

                <p>Algunas acciones que por la naturaleza extraordinaria tuvieron que ser llevadas a la práctica como son: los inventarios y su control, se mencionan, así como todos los aspectos que representan un riesgo o las acciones donde se ve involucrada
                    y que compete a las tecnologías de la información; se han contemplado también las políticas que reflejan la visión de la actual administración respecto a la problemática de seguridad informática institucional.</p>

                <p>La propuesta ha sido detenidamente planteada, analizada y revisada a fin de no contravenir con las garantías básicas del individuo, y no pretende ser una camisa de fuerza, y más bien muestra una buena forma de operar el sistema con seguridad,
                    respetando en todo momento estatutos y reglamentos vigentes de la Institución.</p>



            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="3int" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#indice" class="customA"> Introducción</a>

            <hr/>
            <div id="txt_p" class="txt_p">
                <p> Los requerimientos de seguridad que involucran las tecnologías de la información, en pocos años han cobrado un gran auge, y más aún con las de carácter globalizador como los son la de Internet y en particular la relacionada con el Web,
                    la visión de nuevos horizontes explorando más allá de las fronteras naturales, situación que ha llevado la aparición de nuevas amenazas en los sistemas computarizados. Llevado a que muchas organizaciones gubernamentales y no gubernamentales
                    internacionales desarrollen políticas que norman el uso adecuado de estas destrezas tecnológicas y recomendaciones para aprovechar estas ventajas, y evitar su uso indebido, ocasionando problemas en los bienes y servicios de las entidades.</p>

                <p>El proponer esta política de seguridad requiere un alto compromiso con la institución, agudeza técnica para establecer fallas y deficiencias, constancia para renovar y actualizar dicha política en función del ambiente dinámico que nos
                    rodea.
                </p>



            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="4pds" class="txt_general_subTitulo_3">


            <a href="./tabs/filosofia/politicas#indice" class="customA">  II. Políticas de seguridad</a>
            <hr/>
        </div>

        <div id="#deleq" class="txt_general_subTitulo_2P">

            <a href="./tabs/filosofia/politicas#indice" class="customB">  II.1 Del equipo</a>


            <br/>
            <div id="txt_p" class="txt_p">
                En Electro Controles del Noroeste se maneja en un solo departamento para los tres principales rubros que son Informática, Cómputo, y Redes, estos se encargan de brindar servicio directo al usuario, por el ámbito de competencia que tiene cada uno de ellos
                en materia de informática, desde el equipamiento, instalación, alteración, cambio de lugar, programación, etc. Por lo que se cree necesario emitir políticas particulares para la Electro Controles del Noroeste, este apartado contiene una
                clasificación de estas políticas, y son:

            </div>


        </div>



        <br/>
        <br/>
        <br/>



        <div id="deleq1" class="txt_general_subTitulo_3">
            <a href="./tabs/filosofia/politicas#indice" class="customC">  De la instalación de equipo de cómputo y dispositivos móviles</a>

            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Todo el equipo de cómputo que esté o sea conectado a la red de Electro Controles del Noroeste, o aquel que en forma autónoma se tenga y que sea propiedad de la empresa debe de sujetarse a las normas y procedimientos de instalación
                        que emite el departamento TI</li>
                    <li>El departamento de TI deberá tener un registro de todos los equipos propiedad la Electro Controles del Noroeste</li>
                    <li>El equipo de la Empresa que sea de propósito específico y tenga una misión crítica asignada, requiere estar ubicado en un área que cumpla con los requerimientos de: seguridad física, las condiciones ambientales, la alimentación eléctrica,
                        su acceso que la Dirección de TI tiene establecido en su normatividad de este tipo</li>
                    <li>Los responsables de las áreas de apoyo interno de los departamentos deberán en conjunción con el departamento de TI dar cabal cumplimiento con las normas de instalación, y notificaciones correspondientes de actualización, reubicación,
                        reasignación, y todo aquello que implique movimientos en su ubicación, de adjudicación, sistema y misión</li>
                    <li>La protección física de los equipos corresponde a quienes en un principio se les asigna, y corresponde notificar los movimientos en caso de que existan, a las autoridades correspondientes (gerente del departamento donde se hizo el
                        cambio, departamento de TI y otros de competencia)</li>
                    <li>La información desarrollada, transmitida o almacenada en los dispositivos móviles de la empresa es propiedad de Electro Controles del Noroeste, por lo que le aplican todas las disposiciones legales aplicables a los Documentos públicos.
                        La divulgación de tal información sin autorización está estrictamente prohibida así como también está prohibido prestar el equipo asignado a terceros no autorizados por la empresa o ajenos a la misma</li>
                    <li>Los dispositivos móviles son propiedad de La Empresa y deberán ser utilizados exclusivamente como una herramienta de trabajo conforme a las normas que rigen el comportamiento del personal de Electro Controles del Noroeste y nunca con
                        fines no oficiales o para actividades personales</li>
                    <li>El personal que tenga asignado un equipo de cómputo o dispositivo móvil procurará la conservación del mismo y de garantizar su buen uso. El uso de tales recursos constituye un Privilegio otorgado con el propósito de agilizar los trabajos
                        de la Empresa y no es un derecho</li>
                    <li>No se permite habilitar o descargar aplicaciones que no estén previamente autorizadas por Electro Controles del Noroeste</li>
                    <li>No es permitido autorizar en nombre personal cualquier tipo de cargo adicional que represente un costo para la empresa</li>
                    <li>Los daños por negligencia, descuido o irresponsabilidad en la utilización de los recursos de TI, serán responsabilidad del usuario a quien se le asignó dicho equipo, y los gastos que originen las reparaciones serán cubiertos por éste</li>
                    <li>En el caso de deterioro del equipo por causas no imputables al usuario, su reposición o reparación será por cuenta de la empresa por medio del departamento correspondiente debiendo el usuario notificar la pérdida o mal estado del equipo
                        (En caso de daño deberá entregar el equipo anterior)</li>
                    <li>En caso de robo del equipo, el usuario al que había sido asignado deberá informar inmediatamente al departamento correspondiente para que realice los trámites correspondientes con la empresa proveedora del servicio</li>
                    <li>En caso de robo será responsabilidad del usuario con el dispositivo de TI asignado interponer la denuncia ante la Agencia del Ministerio Publico y entregar la copia al departamento correspondiente, para que se inicie los trámites del
                        Seguro
                    </li>
                    <li>El pago del deducible, deberá ser efectuada por la persona responsable del celular robado</li>
                    <li>Cuando el personal con equipo asignado renuncie, cause baja o separación de su cargo, tendrá la obligación de entregar los recursos de TI asignados, así como sus accesorios a su jefe directo el mismo día de la presentación de su renuncia
                        o separación del puesto</li>
                    <li>Los usuarios con dispositivos de TI están obligados a respetar los derechos de propiedad intelectual de los autores de las obras, programas, aplicaciones u otros, manejadas o accedidas a través de dicho dispositivo</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="deleq2" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#indice" class="customC">Del mantenimiento de equipo de cómputo y dispositivos móviles</a>

            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Al departamento de TI, corresponde la realización del mantenimiento preventivo y correctivo de los equipos, la conservación de su instalación, la verificación de la seguridad física, y su acondicionamiento específico a que tenga lugar.
                        Para tal fin debe emitir las normas y procedimientos respectivos</li>
                    <li>En el caso de los equipos atendidos por terceros la Dirección de TI deberá normar al respecto</li>
                    <li>El personal técnico de apoyo interno de los departamentos se apegará a los requerimientos establecidos en las normas y procedimientos que el departamento de Sistemas emita</li>
                    <li>Los responsables en sucursales de equipos de Cómputo pueden otorgar mantenimiento preventivo y correctivo, a partir del momento en que sean autorizados por el departamento de Sistemas</li>
                    <li>Corresponde al departamento de Sistemas dar a conocer las listas de las personas, que puedan tener acceso a los equipos y brindar los servicios de mantenimiento básico, a excepción de los atendidos por terceros</li>
                    <li>Por motivos de normatividad queda estrictamente prohibido dar mantenimiento a equipo de cómputo que no es propiedad de la institución</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="deleq3" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#indice" class="customC">Del mantenimiento de equipo de cómputo y dispositivos móviles</a>


            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Al departamento de TI, corresponde la realización del mantenimiento preventivo y correctivo de los equipos, la conservación de su instalación, la verificación de la seguridad física, y su acondicionamiento específico a que tenga lugar.
                        Para tal fin debe emitir las normas y procedimientos respectivos</li>
                    <li>En el caso de los equipos atendidos por terceros la Dirección de TI deberá normar al respecto</li>
                    <li>El personal técnico de apoyo interno de los departamentos se apegará a los requerimientos establecidos en las normas y procedimientos que el departamento de Sistemas emita</li>
                    <li>Los responsables en sucursales de equipos de Cómputo pueden otorgar mantenimiento preventivo y correctivo, a partir del momento en que sean autorizados por el departamento de Sistemas</li>
                    <li>Corresponde al departamento de Sistemas dar a conocer las listas de las personas, que puedan tener acceso a los equipos y brindar los servicios de mantenimiento básico, a excepción de los atendidos por terceros</li>
                    <li>Por motivos de normatividad queda estrictamente prohibido dar mantenimiento a equipo de cómputo que no es propiedad de la institución</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>



        <div id="deleq4" class="txt_general_subTitulo_3">
            <a href="./tabs/filosofia/politicas#indice" class="customC">De la actualización del equipo y dispositivos móviles</a>

            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Todo el equipo de cómputo (computadoras personales, estaciones de trabajo y demás relacionados), y los de telecomunicaciones que sean propiedad de Electro Controles del Noroeste debe procurarse sea actualizado tendiendo a conservar
                        e incrementar la calidad del servicio que presta, mediante la mejora sustantiva de su desempeño</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="deleq5" class="txt_general_subTitulo_3">
            <a href="./tabs/filosofia/politicas#indice" class="customC">De la reubicación del equipo de cómputo y dispositivos móviles</a>

            <br/>
            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>La reubicación del equipo de cómputo se realizará satisfaciendo las normas y procedimientos que el departamento de TI emita para ello</li>
                    <li>En caso de existir personal técnico de apoyo en las sucursales, éste notificará de los cambios tanto físicos como de software y de red que realice, y también se deberá notificar en su caso si cambiará de responsable (el equipo). Notificando
                        también los cambios de equipo inventariado (cambio de monitores, de impresoras etc.)</li>
                    <li>El equipo de cómputo a reubicar de Electro Controles del Noroeste o bien externo se hará únicamente bajo la autorización del gerente inmediato, bajo una petición formal</li>
                    <li>El equipo solo será reubicado o transferido únicamente cuando el departamento de TI este enterado y haya actualizado el registro de asignación del equipo</li>
                    <li>En caso de una nueva asignación o reasignación de equipo de cómputo el usuario deberá firmar la carta responsiva del equipo ya sea digital o físicamente</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="cracc" class="txt_general_subTitulo_2P">

            <a href="./tabs/filosofia/politicas#indice" class="customB">II.2 Del control de accesos</a>


            <div id="cracc1" class="txt_general_subTitulo_3">

                <a href="./tabs/filosofia/politicas#indice" class="customA">De la reubicación del equipo de cómputo y dispositivos móviles</a></div>


            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>El acceso de personal se llevará acabo de acuerdo a las normas y procedimientos que dicta la Dirección de TI</li>
                    <li>En concordancia con la política de la empresa y debido a la naturaleza de estas áreas se llevará un registro permanente del tráfico de personal, sin excepción</li>
                    <li>La Dirección de TI deberá proveer de la infraestructura de seguridad requerida con base en los requerimientos específicos de cada área</li>
                    <li>Bajo condiciones de emergencia o de situaciones de urgencia manifiesta, el acceso a las áreas de servicio crítico estará sujeto a las que especifiquen las autoridades superiores de la empresa</li>
                    <li>Es responsabilidad del jefe directo y Capital Humano el informar del rompimiento de la relación laboral de un colaborador de ser posible con un día de antelación para remover correctamente accesos físicos y de sistemas</li>
                    <li>En caso de rompimiento laboral, es responsabilidad del jefe directo recoger los activos de TI proporcionados al colaborador para el desempeño de sus funciones, para su posterior entrega a la dirección de TI.</li>
                    <li>En caso de rompimiento laboral es necesario remover o cambiar accesos de todo tipo a los sistemas de uso común para el colaborador sin excepción</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="cracc2" class="txt_general_subTitulo_3">


            <a href="./tabs/filosofia/politicas#indice" class="customC">Del control de acceso al equipo de cómputo y dispositivos móviles</a>

            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Todos y cada uno de los equipos son asignados a un responsable, por lo que es de su competencia hacer buen uso de los mismos</li>
                    <li>Las áreas donde se tiene equipo de propósito general cuya misión es crítica estarán sujetas a los requerimientos que la Dirección de TI emita</li>
                    <li>Las áreas de cómputo de los departamentos donde se encuentre equipo cuyo propósito reúna características de imprescindible y de misión crítica, deberán sujetarse también a las normas que establezca la Dirección de TI</li>
                    <li>Los accesos a las áreas de críticas deberán de ser clasificados de acuerdo a las normas que dicte la Dirección de TI de común acuerdo con su comité de directivos de la escuela</li>
                    <li>Dada la naturaleza insegura de los sistemas operativos y su conectividad en la red, la Dirección de TI tiene la facultad de acceder a cualquier equipo de cómputo que no estén bajo su supervisión</li>
                    <li>El usuario deberá ser precavido al manipular su cuenta de acceso a los sistemas, tomando medidas de seguridad que no pongan en riesgo su integridad o la información</li>
                    <li>En ningún momento se deberá dejar información sensible de robo, manipulación o acceso visual, sin importar el medio en el que esta se encuentre, de forma que pueda ser alcanzada por terceros o personas que no deban tener acceso a la
                        información
                    </li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="cracc3" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">Del control de acceso local a la red</a>


            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>El departamento de TI es responsable de proporcionar a los usuarios el acceso a los recursos informáticos</li>
                    <li>La Dirección de TI, el departamento de capital humano y líderes de área son los responsables de difundir el reglamento para el uso de la red y de procurar su cumplimiento</li>
                    <li>Dado el carácter unipersonal del acceso a la red de Electro Controles del Noroeste, el departamento de TI verificará el uso responsable, de acuerdo al Reglamento para el uso de la red</li>
                    <li>El acceso lógico a equipo especializado de cómputo (servidores, enrutadores, bases de datos, equipo de cómputo centralizado y distribuido, etc.) conectado a la red es administrado por el departamento de TI, o encargado de apoyo del
                        área específica
                    </li>
                    <li>Todo el equipo de cómputo que esté o sea conectado a la red de Electro Controles del Noroeste, o aquellas que en forma autónoma se tengan y que sean propiedad de la institución, debe de sujetarse a los procedimientos de acceso que
                        emite el departamento de Sistemas</li>
                    <li>Todos los equipos internos y externos deben cumplir con las normas de seguridad para poderse conectar a la red interna o de invitados. (Antivirus actualizado, pertenecer a un dominio si es empleado de ECN)</li>
                    <li>Todos los equipos de personal externo, solamente podrán ser conectados a la red para invitados a través de Wifi como medida de protección para el resto de la red</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>



        <div id="cracc4" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De control de acceso remoto</a>

            <br/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>La Dirección de TI es la responsable de proporcionar el servicio de acceso remoto y las normas de acceso a los recursos informáticos disponibles</li>
                    <li>El usuario de estos servicios deberá sujetarse al Reglamento de uso de la red de Electro Controles y en concordancia con los lineamientos generales de uso de Internet</li>
                    <li>Los accesos tanto locales como remotos que realicen personas ajenas a la institución deberá cumplir las normas que emite la Dirección de TI</li>
                    <li>Solo se podrá acreditar a un externo el acceso a cualquier sistema o infraestructura de TI una vez que haya firmado la carta de confidencialidad y sea aprobado por la Dirección de TI</li>

                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="cracc5" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De acceso a los sistemas administrativos</a>

            <br/>
            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Tendrá acceso a los sistemas administrativos solo el personal de Electro Controles del Noroeste que tenga la autorización del gerente a cargo o aquel que por la naturaleza de sus funciones lo requiera</li>
                    <li>El manejo de información administrativa que se considere de uso restringido deberá ser cifrada con el objeto de garantizar su integridad</li>
                    <li>Tendrá acceso a la plataforma interna de la empresa todos los colaboradores y clientes autorizados por dirección</li>
                    <li>La instalación y uso de los sistemas de información se rigen por el reglamento de uso de la red de Electro Controles del Noroeste y por las normas y procedimientos establecidos por el departamento de TI</li>
                    <li>Los servidores de bases de datos administrativos son dedicados, por lo que se prohíben los accesos de cualquiera, excepto para el personal del departamento de TI, y apoyos de soporte en los distintos departamentos</li>
                    <li>El control de acceso a cada sistema de información de la Dirección Administrativa será determinado por la unidad responsable de generar y procesar los datos involucrados</li>
                    <li>Por políticas de seguridad los passwords de los sistemas deberán cumplir con las siguientes características, un mínimo de 8 caracteres entre los cuales debe contener una mayúscula, un número y alguno de los siguientes caracteres ¨!
                        <>?¨</li>
                    <li>El usuario deberá proteger su equipo de trabajo, evitando que personas ajenas a su cargo puedan acceder a la información almacenada en él, mediante una herramienta de bloqueo temporal</li>
                </ol>


            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="cracc6" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">Del WWW</a>

            <br/>
            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>En concordancia con la legislación federal y de común acuerdo con las políticas generales de informática, la Dirección de TI es el responsable de instalar y administrar el o los servidor(es) WWW. Es decir, sólo se permiten servidores
                        de páginas autorizados por la Dirección de TI</li>
                    <li>El departamento de TI deberá emitir las normas y los requerimientos para la instalación de servidores de páginas locales, de bases de datos, del uso de la Intranet empresarial, así como las especificaciones para que el acceso a estos
                        sea seguro
                    </li>
                    <li>Los accesos a las páginas de web a través de los navegadores deben sujetarse a las normas que previamente se manifiestan en el Reglamento de acceso a la red de Electro Controles del Noroeste</li>
                    <li>A los responsables de los servidores de Web corresponde la verificación de respaldo y protección adecuada</li>
                    <li>Toda la programación involucrada en la tecnología Web deberá estar de acuerdo con las normas y procedimientos que la Dirección de TI emita</li>
                    <li>El material que aparezca en la página de Internet de Electro Controles del Noroeste deberá ser aprobado por la Dirección de TI, respetando la ley de propiedad intelectual (derechos de autor, créditos, permisos y protección, como los
                        que se aplican a cualquier material impreso)</li>
                    <li>En concordancia con la libertad de investigación, se acepta que en la red de Electro Controles del Noroeste conectada a Internet pueda ponerse información individual sin autorización (siempre y cuando no contravenga las disposiciones
                        que se aplican a las instituciones gubernamentales paraestatales), pero deberá llevar el enunciado siguiente: "Las expresiones, opiniones o comentarios que aquí aparecen pertenecen al autor individual y no a ECN"; no debe llevar
                        el logotipo oficial de la institución y deberá siempre responder a un comportamiento profesional y ético</li>
                    <li>Con referencia a la seguridad y protección de las páginas, así como al diseño de las mismas deberá referirse a las consideraciones de diseño de páginas electrónicas establecidas por la Dirección de TI</li>
                    <li>La Dirección de TI tiene la facultad de llevar a cabo la revisión periódica de los accesos a nuestros servicios de información, y conservar información del tráfico</li>
                    <li>Queda prohibido el uso de los recursos de Electro Controles del Noroeste para consultas o actividad de tipo personal como el acceso a redes sociales, el uso de streaming para música, videos o películas. El departamento de TI se reserva
                        el derecho de auditar y sancionar en cualquier momento el uso indebido de los recursos</li>
                    <li>La Empresa se reserva el derecho a intervenir y auditar los accesos realizados por los usuarios a través de su sistema de información, el acceso a la Internet y el contenido de lo accedido</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="urr" class="txt_general_subTitulo_2P">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">II.3 De utilización de los recursos de la red</a>

            <br/>
            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Los recursos disponibles a través de la red de Electro Controles del Noroeste serán de uso exclusivo para asuntos relacionados con las actividades sustantivas de la empresa</li>
                    <li>La Dirección de TI es la responsable de emitir y dar seguimiento al Reglamento para el uso de la Red</li>
                    <li>Corresponde a la Dirección de TI administrar, mantener y actualizar la infraestructura de la red de Electro Controles del Noroeste</li>
                    <li>La Dirección de TI debe propiciar el uso de las tecnologías de la información con el fin de contribuir con las directrices económicas y ecológicas de la institución</li>
                    <li>La Dirección de TI se reserva el derecho de auditar y sancionar en cualquier momento el uso indebido de los recursos de la red</li>
                </ol>



            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="soft" class="txt_general_subTitulo_2P">

            <a href="./tabs/filosofia/politicas#actequipo" class="customB">II.4 Del Software</a>

            <div id="soft1" class="txt_general_subTitulo_3">

                <a href="./tabs/filosofia/politicas#actequipo" class="customC">Del uso de recursos</a>

            </div>


            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>El correo electrónico es un medio de comunicación directo y confidencial, entre el emisor del mensaje y el receptor o receptores del mismo, por ende deberá ser visto o reproducido por las personas en la comunicación únicamente</li>
                    <li>Ningún usuario externo a la institución, puede usar los servicios de correo electrónico proporcionado por la red empresarial</li>
                    <li>Es responsabilidad del usuario hacer un correcto empleo del servicio de correo electrónico</li>
                    <li>Cualquier actividad consecuente a los siguientes ítems se considera un mal uso:
                        <ul>
                            <li>El mandar o contestar cadenas de correo</li>
                            <li>El uso de la cuenta con fines externos a las funciones laborales</li>
                            <li>El no depurar su bandeja de entrada o carpetas creadas para fines específicos</li>
                            <li>El no respetar las cuentas de otros usuarios</li>
                            <li>El hacer uso de lenguaje inapropiado en sus comunicaciones</li>
                            <li>El no respetar los términos dados en el contrato de trabajo sobre normativas y políticas de seguridad</li>
                        </ul>
                    </li>

                    <li>El sistema de correo electrónico es propiedad de La Empresa y es parte íntegra de sus sistemas de información, por lo que el mismo se reserva el derecho absoluto de intervenir, auditar e investigar para constatar el uso adecuado del
                        mismo
                    </li>
                    <li>El enviar por medio del correo electrónico documentos que contengan información confidencial de Electro Controles Del Noroeste o que contengan información en los cuales se comenten asuntos internos que no deben ser divulgados, conforme
                        a las normas que rigen la conducta de los empleados, la información deberá ser cifrada (encrypted) para evitar su divulgación. De sospecharse la interceptación o divulgación de tal información, se deberá informar al Departamento
                        de Sistemas inmediatamente, de manera que puedan tomar las medidas cautelares que procedan</li>
                </ol>


            </div>

        </div>



        <br/>
        <br/>
        <br/>


        <div id="soft2" class="txt_general_subTitulo_3">


            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De la adquisición de software</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>En concordancia con la política de la empresa, la Dirección de TI es el organismo oficial de la empresa para establecer los mecanismos de procuración de sistemas informáticos</li>
                    <li>Del presupuesto que se otorga a las diferentes áreas de Electro Controles del Noroeste una cantidad deberá ser aplicada para la adquisición de programación con licencia</li>
                    <li>Corresponderá a la Dirección de TI y encargados de apoyo departamental emitir las normas para el tipo de licenciamiento, cobertura, transferibilidad, certificación y vigencia</li>
                    <li>De acuerdo a los objetivos globales de Electro Controles del Noroeste se deberá propiciar la adquisición y asesoramiento en cuanto a software de vanguardia</li>
                    <li>En cuanto a la paquetería sin costo deberá respetarse la propiedad intelectual intrínseca del autor</li>
                    <li>La Dirección de TI promoverá y propiciará que la adquisición de software de dominio público provenga de sitios oficiales y seguros</li>
                    <li>La Dirección de TI deberá promover el uso de sistemas que incrementen la eficiencia de la empresa y sus colaboradores</li>
                    <li>La Dirección de Ti promoverá el respeto a los derechos de autor mediante el uso de software libre y respetando los lineamientos de legitimidad de licencias</li>
                </ol>


            </div>


        </div>


        <br/>
        <br/>
        <br/>


        <div id="soft3" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De la instalación de software</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Corresponde al departamento de TI emitir las normas y procedimientos para la instalación y supervisión del software básico para cualquier tipo de equipo</li>
                    <li>En los equipos de cómputo, de telecomunicaciones y en dispositivos basados en sistemas de cómputo, únicamente se permitirá la instalación de software con licenciamiento apropiado y de acorde a la propiedad intelectual</li>
                    <li>El departamento de TI es responsable de brindar asesoría y supervisión para la instalación de software informático, asimismo para el software de telecomunicaciones</li>
                    <li>La instalación de software que desde el punto de vista de la Dirección de TI, pudiera poner en riesgo los recursos de la empresa no está permitida</li>
                    <li>Con el propósito de proteger la integridad de los sistemas informáticos y de telecomunicaciones, es imprescindible que todos y cada uno de los equipos involucrados dispongan de software de seguridad (antivirus, vacunas, privilegios
                        de acceso, y otros que se apliquen)</li>
                    <li>La protección lógica de los sistemas corresponde a quienes en un principio se les asigna y les compete notificar cualquier movimiento al departamento de Sistemas</li>
                </ol>


            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="soft4" class="txt_general_subTitulo_3">
            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De la actualización del software</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>La adquisición y actualización de software para equipo especializado de cómputo y de telecomunicaciones se llevará a cabo de acuerdo a la calendarización que anualmente sea propuesta por la Dirección de TI o los apoyos técnicos departamentales</li>
                    <li>Corresponde a la Dirección de TI o apoyos técnicos, autorizar cualquier adquisición y actualización del software</li>
                    <li>Las actualizaciones del software de uso común o más generalizado se llevarán a cabo de acuerdo al plan de actualización desarrollado por la Dirección de TI</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="soft5" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De la auditoría de software instalado</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>El departamento de TI de la Electro Controles del Noroeste es el responsable de realizar revisiones periódicas para asegurar que sólo programación con licencia esté instalada en las computadoras de la institución</li>
                    <li>La Dirección de TI propiciará al grupo especializado en auditoría de sistemas de cómputo y sistemas de información</li>
                    <li>Corresponderá al grupo especializado dictar las normas, procedimientos y calendarios de auditoría</li>
                    <li>La adquisición de software por parte del personal que labore en la empresa, no expresa el consentimiento de Electro Controles del Noroeste para la instalación del mismo, por ende la empresa no se hace responsable de las actividades
                        de sus empleados</li>
                </ol>

            </div>


        </div>


        <br/>
        <br/>
        <br/>




        <div id="soft6" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">Del software propiedad de la institución</a>

            <div id="txt_p" class="txt_p">


                <ol start="1">
                    <li>Toda la programática adquirida por la institución sea por compra, donación o cesión es propiedad de la institución y mantendrá los derechos que la ley de propiedad intelectual le confiera</li>
                    <li>La Dirección de TI deberá tener un registro de todos los paquetes de programación propiedad de la Electro Controles del Noroeste</li>
                    <li>Todos los sistemas programáticos (programas, bases de datos, sistemas operativos, interfaces) desarrollados con o a través de los recursos de Electro Controles del Noroeste se mantendrán como propiedad de la institución respetando
                        la propiedad intelectual del mismo</li>
                    <li>Es obligación de todos los usuarios que manejen información masiva, mantener el respaldo correspondiente (uso de Drop Box) de la misma ya que se considera como un activo de la institución que debe preservarse</li>
                    <li>Los datos, las bases de datos, la información generada por el personal y los recursos informáticos de la empresa deben estar resguardados</li>
                    <li>Corresponderá a la Dirección de TI promover y difundir los mecanismos de respaldo y salvaguarda de los datos y de los sistemas programáticos</li>
                    <li>La Dirección de TI en conjunto con la Dirección de Innovación propiciará la gestión de patentes y derechos de creación de software propiedad de la institución</li>
                    <li>La Dirección de TI y apoyos técnicos administrarán los diferentes tipos de licencias de software y vigilará su vigencia en concordancia con la política informática</li>
                    <li>En caso de transferencia de software a terceros, se harán las gestiones necesarias para su efecto y se acatarán las medidas de licenciamiento relacionadas con la propiedad intelectual</li>

                </ol>

            </div>


        </div>


        <br/>
        <br/>
        <br/>



        <div id="soft7" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">Sobre el uso de software libre</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Cualquier software que requiera ser instalado para trabajar sobre la infraestructura de Electro Controles del Noroeste deberá ser evaluado por la Dirección de Sistemas</li>
                    <li>Todo el software propiedad de la empresa deberá ser usado exclusivamente para asuntos relacionados con las actividades de la misma</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>




        <div id="soft8" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customC">De la propiedad intelectual</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Corresponde a la Dirección de TI procurar que todo el software instalado en la red de Electro Controles del Noroeste esté de acuerdo a la ley de propiedad intelectual a que dé lugar</li>
                    <li>Es responsabilidad del colaborador estar en regla con las disposiciones de la empresa sobre la propiedad intelectual</li>
                    <li>El colaborador es el único responsable por el uso indebido de software no licenciado en su equipo asignado, podrá ser sancionado según la gravedad de la situación</li>
                </ol>
            </div>


        </div>



        <br/>
        <br/>
        <br/>



        <div id="suev" class="txt_general_subTitulo_2P">

            <a href="./tabs/filosofia/politicas#actequipo" class="customB">II.5 De supervisión y evaluación</a>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Cada uno de los departamentos que dependan de Sistemas Informáticos donde esté en riesgo la seguridad en la operación, servicio y funcionalidad del departamento, deberá emitir las normas y los procedimientos que correspondan</li>
                    <li>Las auditorías de cada actividad donde se involucren aspectos de seguridad lógica y física deberán realizarse periódicamente y deberá sujetarse al calendario que establezca la Dirección de TI y/o el grupo especializado de seguridad</li>
                    <li>Para efectos de que la institución disponga de una red con alto grado de confiabilidad, será necesario que se realice un monitoreo constante sobre todos y cada uno de los servicios que las tecnologías de la Internet e Intranet disponen</li>
                    <li>Los sistemas considerados críticos, deberán estar bajo monitoreo permanente</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>


        <div id="gn" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customB">III. Generales</a>
            <hr/>
            <div id="txt_p" class="txt_p">
                <ol start="1">
                    <li>Cada uno de los departamentos deberán de emitir los planes de contingencia que correspondan a las actividades críticas que realicen</li>
                    <li>Debido al carácter confidencial de la información, el personal de la Dirección de TI deberá de conducirse de acuerdo a los códigos de ética profesional y normas y procedimientos establecidos</li>
                </ol>

            </div>


        </div>



        <br/>
        <br/>
        <br/>



        <div id="sanc" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customB">IV. Sanciones</a>
            <hr/>

            <div id="txt_p" class="txt_p">


                <ol start="1">
                    <li>Cualquier violación a las políticas y normas de seguridad deberá ser sancionada de acuerdo al reglamento emitido por la Dirección de TI y Capital Humano</li>
                    <li>Las sanciones pueden ser desde una llamada de atención al usuario, la suspensión del servicio, la supresión del colaborador o despido dependiendo de la gravedad de la falta y de la malicia o perversidad que ésta manifiesta</li>
                    <li>Corresponderá al Comité de seguridad de la empresa hacer las propuestas finales sobre las sanciones a quienes violen las disposiciones en materia de informática de la Empresa</li>
                    <li>Todas las acciones en las que se comprometa la seguridad de la red de Electro Controles del Noroeste y que no estén previstas en esta política, deberán ser revisadas por la Dirección TI para dictar una resolución sujetándose al estado
                        de derecho</li>
                </ol>


            </div>


        </div>


        <br/>
        <br/>
        <br/>


        <div id="ref" class="txt_general_subTitulo_3">

            <a href="./tabs/filosofia/politicas#actequipo" class="customB">Referencias</a>
            <hr/>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li><i>Cano, Heimy J. (1998). Pautas y Recomendaciones para Elaborar Políticas de Seguridad Informática (PSI). Universidad de los Andes, Colombia.</i></li>
                    <li><i>Organisation for Economic Cooperation and Development (OEDC) Guidelines for Security of Information Systems. 1992.</i></li>
                    <li>Swanson, et al. (1996) National Institute of Standard and Technology (NIST). General Principles for Information Systems Security Policies.</li>
                </ol>

            </div>

        </div>

        <br/>
        <br/>
        <br/>


        <div id="glo" class="txt_general_subTitulo_3">


            <a href="./tabs/filosofia/politicas#actequipo" class="customA">Glosario</a>
            <hr/>

            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Departamento de TI</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Es la entidad encargada del buen uso de las tecnologías de la computación, organización y optimización de los recursos computacionales de la institución, desarrollar el plan estratégico de conectividad de Electro Controles del Noroeste
                    que favorezca la prestación de servicios eficientes, eficaces y de utilidad en la transmisión de datos, voz y video para apoyar efectivamente los requerimientos del usuario. Además es encargada de ofrecer sistemas de información administrativa
                    integral permitiendo en forma oportuna satisfacer necesidades de información, como apoyo en el desarrollo de las actividades propias del centro.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Bases de Datos</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Es un conjunto de datos interrelacionados y un conjunto de programas para accesarlos. Una recopilación de datos estructurados y organizados de una manera disciplinada para que el acceso a la información de interés sea rápido.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>WWW (World Wide Web)</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Es una convergencia de conceptos computacionales para presentar y enlazar información que se encuentra dispersa a través de internet en una forma fácilmente accesible. Sistema avanzado para navegar a través de internet.</p>

            </div>



            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Área Crítica</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Es el área física donde se encuentra instalado el equipo de cómputo y telecomunicaciones que requiere de cuidados especiales y son indispensables para el funcionamiento continuo de los sistemas de comunicación de Electro Controles del
                    Noroeste.
                </p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Equipo de Telecomunicaciones</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Todo dispositivo capaz de transmitir y/o recibir señales digitales o analógicas para comunicación de voz, datos y video, ya sea individualmente o de forma conjunta.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Equipo de Cómputo</i>
            </div>


            <div id="txt_p" class="txt_p">

                <p>Dispositivo con la capacidad de aceptar y procesar información en base a programas establecidos o instrucciones previas, teniendo la oportunidad de conectarse a una red de equipos o computadoras para compartir datos y recursos, entregando
                    resultados mediante despliegues visuales, impresos o audibles.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>IP </i>

            </div>


            <div id="txt_p" class="txt_p">

                <p>Internet Protocol. Parte de la familia de protocolos TCP/IP, que describe el software que supervisa las direcciones de nodo internet, encamina mensajes salientes y reconoce los mensajes entrantes.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Dirección de INTERNET </i>

            </div>


            <div id="txt_p" class="txt_p">

                <p>Identificador único de 32 bits para una computadora principal TCP/IP en una RED. También llamada un Protocolo Internet o dirección IP. Las direcciones IP están normalmente impresas en una forma decimal de puntos, tal como 150.123.50.334</p>

            </div>



            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Auditoría</i>

            </div>


            <div id="txt_p" class="txt_p">

                <p>Llevar a cabo una inspección y examen independiente de los registros del sistema y actividades para probar la eficiencia de la seguridad de datos y procedimientos de integridad de datos, para asegurar el cumplimiento con la política establecida
                    y procedimientos operativos, y para recomendar cualquier cambio que se estime necesario.</p>

            </div>


            <div id="title1_p" class="txt_general_subTitulo_2 txt_general_subTitulo_2R">

                <i>Control de Acceso </i>

            </div>

            <div id="txt_p" class="txt_p">

                <ol start="1">
                    <li>Técnica usada para definir el uso de programas o limitar la obtención y almacenamiento de datos a una memoria</li>
                    <li>Una característica o técnica en un sistema de comunicaciones para permitir o negar el uso de algunos componentes o algunas de sus funciones</li>
                </ol>
            </div>

        </div>



        <br/>
        <blockquote class="blockquote-reverse">
            <footer>Fecha de creación: <cite title="Source Title">01 de Noviembre del 2014</cite></footer>
            <footer>Vigencia a partir del: <cite title="Source Title">01 de Diciembre del 2014</cite></footer>
            <footer>Próxima revisión: <cite title="Source Title">01 de Marzo del 2016</cite></footer>
        </blockquote>
        <br/>
        <hr/>


        <!-- <form class='form-horizontal' role='form' method='POST'>

            <div class='form-group'>
                <div class='col-sm-offset-4 col-sm-8'>
                    <div class='checkbox' name='foot'>
                        <label>
                  <input checked type='checkbox' value='1' disabled /> Estoy de acuerdo con las políticas aquí expuestas                             </label>
                    </div>
                </div>
            </div>
            <div class='form-group'>
                <div class='col-sm-offset-4 col-sm-8'>
                    <button type='submit' class='btn btn-default disabled'>Acepto</button>
                    <a name='foot'></a>
                </div>
            </div>
        </form> -->
</ion-content>