ion-col {
   /* display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  
    background-color: #135d54;*/
    border-bottom: solid 1px rgb(146, 146, 146);
    color: #3b3b3b;
  }